body{
	background-color: #87CEFA; 
}


#logo{

	position: relative;
	width: 250px;
	height: 250px;
	left: 25px;
	top: 50px;
	transition: all 1s;
}

#logo:hover{

	transform: rotate(360deg);
	
}

#linea{
	position: absolute;
	top: 175px;
	left: 270px;
	width: 100%;
	height: 16px;
	background-color: black;
}

.cat{
	position: relative;
	height: 100px;
	width: auto;
	top: -70px;
	left: 50px;
	padding-right: 20px;
	padding-bottom: 8px;

}


.Pokedex{
	position: relative;
	height: 180px;
	width: auto;
	top: -260px;
	left: 1050px;
	src="img/Pokedex1.png" onmouseover="this.src='img/Pokedex2.png';" onmouseout="this.src='img/Pokedex1.png';";
}

.Pokedex2{
	position: relative;
	height: 200px;
	width: auto;
	top: 0px;
	left: 500px;
}

